.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* App.css */
body {
  background-color: #163344; /* Light background for better contrast */
  font-family: Arial, sans-serif; /* Clean and modern font */
}

h4 {
  margin-bottom: 0; /* Remove default margin for headers */
}


.card {
  outline: orange 1px solid;
  
}
.card-header {
  background-color: #1c506d; /* Primary color for the header */
  color: white; /* White text for contrast */
  outline: orange 1px solid;
}

.pba-3 {
  background-color: #1c506d; /* Primary color for the background */
}

.tnp-1 {
  background-color: #1c506d; /* Primary color for the background */
  border-color: #1c506d;
  outline: orange 1px solid;
}

.tnp-1:hover {
  background-color: #0e364d; /* Darker shade on hover */
}

.pba-2 {
  background-color: #831628; /* Primary color for the background */
  border-color: #9c1a30;
  outline: orange 1px solid;
}

.pba-2:hover {
  background-color: #2e080d; /* Darker shade on hover */
}