body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* index.css */
.container {
  max-width: 1200px; /* Limit maximum container width */
  margin: auto; /* Center the container */
  padding: 20px; /* Padding around the container */
}



.form-label {
  font-weight: bold; /* Bold labels for better visibility */
}

.form-check-label {
  margin-left: 10px; /* Spacing between checkbox and label */
}

/* Responsive design adjustments */
@media (max-width: 768px) {
  .chart-container {
      height: 300px; /* Adjust chart height on smaller screens */
  }
}